<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="insertproduct" method="post">
        Product Id: <input type="text" name="pid" id="pid"><br>
        Product Name: <input type="text" name="pname" id="pname"><br>
        Product qty: <input type="text" name="qty" id="qty"><br>
        Product price: <input type="text" name="price" id="price"><br>
        <button type="submit" name="add" id="add">Add Product</button>
    </form>
</body>
</html>