
 nav {
    background-color: rgb(92,181,181);
    padding: 2px;
  }
  
  .navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    display: inline;
    margin-right: 60px;
  }
   
  .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-menu li a:hover {
    text-decoration: underline;
  }
  

  .reser li{
    display: flex;
    align-items: center;
    margin-left:82%;
    justify-content: space-between;
  }

  .reser #li2{
    padding-left: 120px;
  }

 .pale{
  background-color: rgb(255, 255, 237);
 }

 footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
 }

 .myfooter{
  background-color:rgb(117, 210, 197);
  display: flex;
  justify-content: center;
 }

 .myfooter li{
  color: white;
  text-decoration: solid;
  padding-right: 15px;
 }
  